*
{
	margin:0px !important;
	
	box-sizing: border-box;
}
#navigationbar
{	position: relative;
	margin: 0px;
	background-color: black;
	height: 70px;

}
.navbar-brand
{
	text-decoration: none;
}
#written
{	
	position: absolute;
	margin: auto;
	left: 10px;
	bottom: 10px;
	color: white;
	font-family: sans-serif,"arial";
	font-size: 40px;
	text-shadow: 2px 2px rgb(61, 235, 52);
	
}
.navbar-toggler {
 position: absolute;
 right: 20px;
 bottom: 10px;
  font-size: 1.25rem;
  color: rgba(61, 235, 52);
  line-height: 1;
  
  border: 1px solid green;
  border-radius: 0.25rem;
  background-color: transparent;
}
.navbar-toggler-icon {
	 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	 vertical-align: bottom;
  

}
.navbar-toggler:hover
{
	background-color: rgb(61, 235, 52);
}
#navbarSupportedContent
{
	background-color: rgb(66, 63, 63);
	
	margin-left: 0px !important; 
	margin-right: 0px !important;
	margin-top: 35px !important;
	

}
#navbarSupportedContent ul li a
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-align: center;
}
#navbarSupportedContent ul li :hover
{
	background-color: rgb(61, 235, 52);
	color: black;
	border-radius: 5px;
}
h1
{
	color: rgb(227, 9, 227);
	font-family: "arial",sans-serif;

}
#contentinside
{
	background-color: rgb(227, 220, 9);
	font-family: sans-serif;
	font-size: 22px;
	color: black;
	margin-left:10px !important;
	margin-right: 10px !important;  
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px !important;
}
#chicken, #beef, #sushi
{
	color: blue;
	font-size: 25px
}

