		
		*{
			box-sizing: border-box;
			
		}
		h1{
			
			margin-bottom: 15px;
			font-size: 42px;

		}
		p{
			
			font-family: "Arial", "Helvetica", sans-serif;
			font-size: 24px;
			margin-left: auto;
			margin-right: auto;
			
			width: 90%;
			border: 1px solid;
			position: relative;
		}
		.row{
			width: 100%;
		}
		
		@media(min-width: 992px)
		{
			.col-lg-4{
				float: left;
				width: 33.33%;
			}
			
  		}
  	
		

		
		@media(min-width: 768px) and (max-width: 991px )
		{
			 .col-md-6 {
    		float: left;
    		width: 50%;
    
  						}
  			.col-md-12{
  				float: left;
  				width: 100%;
  			}

		}


	
		@media(max-width: 767px)
		{
			.col-sm-12 {
    			float: left;
    			width: 100%;
    
  						}
  
		}
		
		#heading
		{
			text-align: center;


		}

		#item1
		{
			
			position: absolute;
			font-size:30px ;
			
			background-color: pink;
			right: 0px;
			padding-left: 30px;
			padding-right: 30px;
			border: 1px solid;		
			
		}
		#section1
		{	padding-left: 15px;
			padding-right: 15px;
			background-color: cyan;
		}
		#section2
		{	padding-left: 15px;
			padding-right: 15px;
			background-color:tomato;	
		}
		#item2
		{
			position: absolute;
			font-size:30px ;
			
			background-color: orange;
			right: 0px;
			padding-left: 30px;
			padding-right: 30px;
			border: 1px solid;	
		}
		#section3
		{	padding-left: 15px;
			padding-right: 15px;
			background-color: #7FFF00;
		}
		#item3
		{
			position: absolute;
			font-size:30px ;
			
			background-color: #FFF8DC;
			right: 0px;
			padding-left: 30px;
			padding-right: 30px;
			border: 1px solid;
		}