*
{
	margin: 0px;
	padding:0px;

}
#navigationbar
{
	background-color:rgb(64,64,64) ;
	
	height:70px;
	
}
#piedimage
{	position: relative;
	
	height: 60px;
	width: 70px;
	
	float: left;
}
#written
{	margin: 0px;
	font-family: sans-serif;
	font-size: 35px;

	color: black;
	text-shadow: 2px 2px rgb(51,153,255);
}

.navbar-brand {
  
  padding-top: 0px;
  
  margin-right: 0px;
 

}
#written
{
	text-decoration: none;
	font-size:35px;
	color: white;
	font-family: sans-serif;
	
	
	
}

body
{
	background-color:rgb(38,38,38); 
	

}
.navbar-toggler
{	
	 position: relative;
	 
	background-color: white;
	border-radius: 5px;
	margin-bottom: 0px;
	border: 2px solid green;
	


	
}
.navbar-toggler:hover
{
	background-color: rgb(0,153,51);
}

@media(min-width: 992px)
{

.nav, .navbar-nav, .navbar-right
{	
	float: right;
	
	text-decoration: none;

}

}
@media(max-width: 991px)
{
	.nav, .navbar-nav, .navbar-right
{	
	float: right;
	
	text-decoration: none;
	background-color: rgb(0,153,51)

}
}
.nav-item:hover, .nav-item:focus {
  background-color: black;
  color: black !important;
  border-radius: 5px;
}
.nav-item a
{	
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-family: sans-serif;
	color: white !important;
}
ul
{
	color: white;
}
#dis
{
	color: white !important;
}







