*
{
	margin: 0px;
	padding:0px;

}

#navigationbar
{
	background-color:rgb(64,64,64) ;
	
	height:70px;
	
}
#piedimage
{	position: relative;
	
	height: 60px;
	width: 70px;
	
	float: left;
}
#written
{	margin: 0px;
	font-family: sans-serif;
	font-size: 35px;

	color: white;
	text-shadow: 2px 2px rgb(51,153,255);
}

.navbar-brand {
  
  padding-top: 0px;
  
  margin-right: 0px;
 

}
#written
{
	text-decoration: none;
	font-size:35px;
	color: white;
	font-family: sans-serif;
	
	
	
}

body
{
	background-color:rgb(38,38,38); 
	

}
.navbar-toggler
{	
	 position: relative;
	 
	background-color: white;
	border-radius: 5px;
	margin-bottom: 0px;
	border: 2px solid green;
	


	
}
.navbar-toggler:hover
{
	background-color: rgb(0,153,51);
}

#searchbox {
  
  position: relative;
  right: 0px;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 17px;
  height: 40px;
  width: 200px;
}
#searchbutton
{
	position: relative;
  	right: 0px;
	margin: 0px;

}
@media(min-width: 992px)
{
	#written
{	
	margin-bottom: 20px;
	font-family: sans-serif;
	font-size: 30px;

	color: white;
	text-shadow: 2px 2px rgb(51,153,255);
}
.nav, .navbar-nav, .navbar-right
{	
	
	float: right;
	text-decoration: none;

}

}
@media(max-width: 991px)
{
	
	.nav, .navbar-nav, .navbar-right
{	
	float: right;
	
	text-decoration: none;
	background-color: rgb(0,153,51)

}
}
.nav-item:hover, .nav-item:focus {
  background-color: black;
  color: black !important;
  border-radius: 5px;
}
.nav-item a
{	
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 20px;
	font-family: sans-serif;
	color: white !important;
}
ul
{
	color: white;
}

	
   


#animat
{
	background-color: rgb(51,153,255);
	height: 70px;
	vertical-align: middle;
	text-align: center;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 2em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

#newwala img
{
	height: 100px;
	width: 100%;
}
.row
{
	margin: 5px;
	color: white;
}
/*
#fullstack #full
{	width: 95%;
	padding: 10px;
	border-color: green;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	
}
#cybersec #cyb
{
	width: 95%;
	padding: 10px;
	
	border-style: solid;
	border-color: green;
	border-radius: 10px;
	border-width: 2px;
	
}*/
.search {
  width: 200px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
